body {
	font-family: 'Roboto', sans-serif;
	background: #e0ebeb;
}

#about_image {
	border-radius: 100%;
	height: 200px;
	width: 200px;
}

#project_title {
	color: white;
}

#projects_body {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

#about{
	background-color: #d1e0e0;
	border: solid 1px black;
}

#about > h1 {
	color: #0a0f0f;
	font-family: serif;

}

#contact .h4 {
	text-transform: lowercase;
}

#skills {
	background-color:  #a3c2c2;
}

.navbar {
	background-color: #a3c2c2;
	text-transform: uppercase;
	border-bottom: solid 4px #00264d;
	margin-left: -15px;
	margin-right: -15px;
}

#navbarNav a{
	color: black;
}

#footer {
	padding: 30px;
	text-align: center;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:hover {
	background-color: #669999;
}

.progressText {
    color: black;
}

.card-title {
	font-family: serif;
	font-size: 30px;
	font font-weight: bold;
}

